# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class
*.so

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.venv
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Cython debug symbols
cython_debug/

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# Temporary files
*.tmp
tmp/

# coverage
coverage/

# ruff
.ruff_cache/
