{% extends 'generic/object_list.html' %}

{% block title %}ModuleType Imports{% endblock %}

{% block extra_controls %}
  {% if perms.netbox_metatype_importer.add_metatype %}
    <form method="post" class="d-inline d-print-none">
      {% csrf_token %}
      <button type="submit" name="_load"
              formaction="{% url 'plugins:netbox_metatype_importer:metamoduletype_load' %}?return_url={% url 'plugins:netbox_metatype_importer:metamoduletype_list' %}"
              class="btn btn-primary">
        <i class="mdi mdi-download" aria-hidden="true"></i> Load
      </button>
    </form>
  {% endif %}
{% endblock %}
{% block bulk_buttons %}
  {% if perms.netbox_metatype_importer.add_metatype %}
    <button type="submit" name="_edit"
            formaction="{% url 'plugins:netbox_metatype_importer:metamoduletype_import' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
            class="btn btn-warning">
      <i class="mdi mdi-upload" aria-hidden="true"></i> Import Selected
    </button>
  {% endif %}
  {% if perms.netbox_metatype_importer.delete_metatype %}
    <button type="submit" name="_edit"
            formaction="{% url 'plugins:netbox_metatype_importer:bulk_metamoduletype_delete' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
            class="btn btn-danger">
      <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> Delete Selected
    </button>
  {% endif %}
{% endblock %}
